<div ng-controller="robbieController">
    <ul>
        <li class="pages" ng-repeat="page in pages">
            <p ng-click="getStory(page._id)">{{page.title}}</a>
            <button ng-click="deletePage($index)">Delete</button>
        </li>
    </ul>

    <form>
        <input type="text" placeholder="Title" ng-model="formPageTitle"><br>
        <textarea placeholder="Content" ng-model="formPageContent"></textarea>
        <button class="btn" ng-click="addPage()">Add</button>
    </form>



    <div>
        <h2>"Bitches be bitchin... but bad bitches be bad bitchin"</h2>
        <h3>- Robbie</h3>
        
        <img src="./images/robbieHomePage.jpg">
    </div>

    <div>
        <h1>{{story.title}}</h1>
        <p>{{story.content}}</p>
    </div>
</div>