body {
    font-family: 'Open Sans', sans-serif;
    /*margin: 1vw;*/
	color: gray;
    /*position: absolute;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 400;*/
}

img {
    width: 30%;
    height: 30%;
    border-radius: 8px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88cccd;
}

.navBtn {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBtn:hover:not(.active) {
    background-color: #aeeaea;
}

.pagesList {
    list-style-type: none;
    /*justify-content: center;*/
}

.pages {
    padding: 14px 16px;
    color: white;
    background-color: #FFBDBD;
    box-shadow: 1px 1px 1px grey;
    margin: 5px;
    /*border-radius: 8px;*/
}

#mainContent {
    display:flex;
    flex-direction:row;
}

#farleft {
    flex: 1;
}

#middle {
    flex: 1;
}

#story {
    flex : 1;
}